<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="main.css")
		title Spider-Man Spider
	body
		.spider
			.style.belly
				.left-paws
					.style.paw-left.top-left
					.style.paw-left.center1-left
					.style.paw-left.center2-left
					.style.paw-left.bottom-left
				.right-paws
					.style.paw-right.top-right
					.style.paw-right.center1-right
					.style.paw-right.center2-right
					.style.paw-right.bottom-right